form {
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center
}

.main {
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center
}

.paper {
    width: 50%;
    margin: 0 auto;
}

.form {
    width: 50%;
}

.submit {
    width: 50%;
}

.signUpLink {
    text-align: left;
    color: blue
}

.noAccountHeader {
    color: black
}